.no-hover:hover{
  background-color:  #1657ce;
  border-color: transparent;
}

.foto-projeto-index{
  width: auto; 
  height: 155px; 
  background-size: cover; 
  background-position: center;
}

.foto-projeto-pequena{
  width: auto; 
  height: 180px; 
  background-size: cover; 
  background-position: center;
}

.foto-projeto{
  width: auto; 
  height: 200px; 
  background-size: cover; 
  background-position: center;
}

.foto-perfil{
  width: auto; 
  height: 220px; 
  background-size: cover; 
  background-position: center;
}

.foto-perfil-comprida{
  width: auto; 
  height: 250px; 
  background-size: cover; 
  background-position: center;
}

.foto-pequena{
  width: auto; 
  height: 130px; 
  background-size: cover; 
  background-position: center;
}